<!doctype html>

<html class="no-js" lang="en">
  <head>
  	{% load staticfiles %}
  	{% load compress %}

	{% compress css %}
    	<link type="text/x-scss" href="{% static '/main.scss' %}" rel="stylesheet" media="screen">
	{% endcompress %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Computer will finish your story</title>
    
  </head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">StoryAI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Check other stories</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
    
    <p>
    <blockquote class="blockquote">
      "If there's a book that you want to read, but it hasn't been written yet, then you must write it."
      <footer class="blockquote-footer">Toni Morrison</footer>
    </blockquote>
  </p>

  <div class="form-group">
    	<label for="exampleFormControlTextarea1">Start story</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" cols="2" rows="3"></textarea>
	</div>
  <p>Choose who will finish your story</p>
  <div class="row">    
    <div class="col">
      <img src="{% static 'images/marktwain.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col">
      <img src="{% static 'images/kurtvonnegut.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col">
      <img src="{% static 'images/stevenking.jpg' %}" class="img-thumbnail">
    </div>

  </div>

 
</div>


</body>
</html>

