<!doctype html>

<html class="no-js" lang="en">
  <head>
  	{% load staticfiles %}
  	{% load compress %}

	{% compress css %}
    	<link type="text/x-scss" href="{% static '/main.scss' %}" rel="stylesheet" media="screen">
	{% endcompress %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/make-story.js' %}"></script>

    <title>Komputer dokończy Twoją historię</title>
    
  </head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">StoryAI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Historie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sprawdz inne historie</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     
        <a class="nav-link" href="#">EN</a>

    </form>
  </div>
</nav>

<div class="container">
    
    <p>
    <blockquote class="blockquote">
      "Książką można czytelnikowi głowę, owszem przemeblować o tyle, o ile jakieś meble już w niej przed lekturą stały."
      <footer class="blockquote-footer">Stanisław Lem</footer>
    </blockquote>
  </p>

  <div class="form-group">
    	<label for="textarea1">Zacznij historię</label>
      <textarea class="form-control" name="textarea1" id="special" cols="2" rows="3"></textarea>
	</div>
  <p>Wybierz kto dokończy Twoją historię</p>
  <div class="row">    
    <div class="col">
      <img id="anton" src="{% static 'images/Anton_Chekhov.jpg' %}" class="img-thumbnail writer">
    </div>
    <div class="col">
      <img  id="lem" src="{% static 'images/lem.jpg' %}" class="img-thumbnail writer">
    </div>
    <div class="col">
      <img id="adam" src="{% static 'images/adam.jpg' %}" class="img-thumbnail writer">
    </div>

  </div>

  <div class="row d-flex justify-content-center mt-4">
    <div class="text-center">
      <img id="loader" class="img-fluid" hidden="true" src="{% static 'images/spin.gif' %}">
    </div>
    
      <p id="response" class="capitalize">
        
      </p>
  </div>

 
</div>

<!-- Footer -->
<footer class="page-footer font-small gray">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Strory AI</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>

